@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.page-text { 
    
    -fx-font-family: "Montserrat", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#vehicletype {
    -fx-font-family: "Montserrat", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 48px;
}

#back { 
    
    -fx-font-family: "Montserrat", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}