@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#parkingticket {
    -fx-font-family: "Montserrat", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 48px;
}

#printing {
    -fx-font-family: "Montserrat", sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

.ticketdetails { 
    
    -fx-font-family: "Courier New", sans-serif;
    -fx-font-size: 14px;
}

.ticketdate {
    
    -fx-font-family: "Courier New", sans-serif;
    -fx-font-weight:bold;
    -fx-font-size: 20px;
}